.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: rgb(14, 6, 168);
  background: -webkit-linear-gradient(to right, #2f0452,blue );
  background: linear-gradient(to right, #2f0452,blue );
}

header > img {
  height: 80%;
  margin-left: 10%;
}

header > p {
  color: whitesmoke;
  font-size: 50px;
  /* margin-left: 60%; */
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;

}

.meme > img {
  width: 100%;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-size: 10em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 
  2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000
  -2px 2px 0 #000
  0 2px 0 #000
  2px 0 0 #000
  0 -2px 0 #000
  -2px 0 0 #000


}

.meme .bottom {
bottom: 0;
}

.meme .top {
  top: 0;
}



.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form > button {
  border: none;
  font-size: 25px;
letter-spacing: 1.5px;
color: white;
background:#2f0452;
}

.meme-form > input::-webkit-input-placeholder {
  font-size: 25px;
  text-align: center;
}